body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    padding: 0 0 60px 0;
    height: auto ;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

.jumbotron {
    margin-top: 85px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/benefitscover.jpg?alt=media&token=372cda02-43eb-4b5d-8ab8-a3c220bea7d8); filter: grayscale(0%);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;
}