body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    padding: 40px 0 100px 0;
    height: auto ;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

.jumbotron {
    margin-top: 85px;
    background-image: url(../res/images/41.jpg);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;
}