body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    margin-bottom: 30px;
    height: auto;
    text-align: center;
}

#panel2 {
    margin-top: 0px;
    margin-bottom: 4%;
}

.row {
    margin-left: 5px;
    margin-right: 5px;
}

.point {
    background-color: lightgrey;
    margin: 8px;
    border-radius: .3rem;
    padding: 15px;
    width: 100%;
}

.jumbotron {
    margin-top: 85px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/connectstudentscover.jpg?alt=media&token=0851d194-0554-4dbf-8387-08e2f1bd9cc1);
    background-position: center;
    background-size: 100%;
}

.connectstudents {
    text-align: center;
}

.studentdropdown {
    margin-top: 2%;
    text-align: center;
}

thead {
    background-color: rgb(1, 45, 90);
}

th {
    color: white;
}

label {
    font-size: 18px;
}

td.details-control {
    background: url("../details_open.png") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("../details_close.png") no-repeat center center;
}

.header {
    color: white;
}

#datatablenote {
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(1, 45, 90);
    font-weight: bold;
}

#starterhead {
    margin-bottom: 2%;
}

a {
    color: rgb(1, 45, 90);
}

hr {
    background-color: rgb(1, 45, 90);
    height: 1px;
}