body {
    background-color: rgba(10, 10, 80, 0.068);
}

.accordion {
    margin: 60px 40px 60px 40px;
}

.jumbotron {
    margin-top: 75px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url("../res/images/1-min.jpg");
    background-position: center;
    background-size: 100%;
    border-radius: 0px;
}

.header {
    color: white;
}

.card-body {
    margin-left: 1%;
}

.btn {
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}