html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgba(10, 10, 80, 0.068);
}

.col-md-2point5 {
    width: 250px !important;
}

#panel1 {
    margin-bottom: 30px;
    height: auto;
    text-align: center;
}

#panel2 {
    margin-top: 0px;
    margin-bottom: 4%;
}

.row {
    margin-left: 5px;
    margin-right: 5px;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
    width: 1000%;
}

.jumbotron {
    margin-top: 70px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url("../res/images/10-mincs.jpg");
    background-position: center;
    background-size: 100%;
}

.connectstudents {
    text-align: center;
}

.studentdropdown {
    margin-top: 2%;
    text-align: center;
}

thead {
    background-color: rgb(1, 45, 90);
}

th {
    color: white;
}

label {
    font-size: 18px;
}

td.details-control {
    background: url("../details_open.png") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("../details_close.png") no-repeat center center;
}

.header {
    color: white;
}

#datatablenote {
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(1, 45, 90);
    font-weight: bold;
}

#starterhead {
    margin-bottom: 2%;
}

a {
    color: rgb(1, 45, 90);
}

hr {
    background-color: rgb(1, 45, 90);
    height: 1px;
}