body {
    background-color: rgba(10, 10, 80, 0.068);
}

.accordion {
    margin: 60px 50px 80px 50px;
}

.jumbotron {
    margin-top: 85px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/connectdisadvantagedcover.jpg?alt=media&token=d42a1467-57d1-4784-93dc-c36d19bf4094);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;
}

