body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    padding-bottom: 50px;
    height: auto ;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

.jumbotron {
    margin-top: 85px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/employercover.jpg?alt=media&token=a5767d80-8609-4c76-918b-7142e726ae51);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;
}

h5 {
    margin-top: 2%;
}