body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    padding-bottom: 50px;
    height: auto ;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

.jumbotron {
    margin-top: 75px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url("../res/images/12-min.jpg");
    background-position: center;
    background-size: 100%;
    border-radius: 0px;
}

.header {
    color: white;
}

h5 {
    margin-top: 2%;
}