body {
    background-color: rgba(10, 10, 80, 0.068);
}

.accordion {
    margin-top: 60px; 
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbfdff;
    width: 80%;
}

.jumbotron {
    margin-top: 85px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/faqcover.jpg?alt=media&token=1f2efdf7-02ef-4402-b59f-54f5b5ca807e); filter: grayscale(60%);
    background-position: center;
    background-size: 100%;
}

.card-body {
    text-align: left;
}

.header {
    color: black;
}

.spacer {
    flex: 1;
  }
