#main {
    padding: 100px 50px 60px 50px;
    color: white;
    background-color: rgba(70, 71, 81, 0.8);
}

#main > * {
    z-index: 1;
}

#main > video {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1000;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

#panel1 {
    padding: 60px 0 80px 0; 
    background-color:  rgb(233, 233, 233);
}

#panel2 {
    padding: 80px 0 100px 0;
    background-color:  rgba(70, 71, 81, 1);
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 3.8em;
    text-align: center;
}

#starterhead {
    font-size: 3em;
}

.ph {
    text-align: center;
    font-size: 2.5em;
    margin-top: -2%;
    margin-bottom: 5%;
}

h3 {
    color: white;
}

h5 {
    margin-top: 3%;
    color: black;
    font-weight: bold;
}

p {
    font-size: 20px;
}

.btn-primary {
    background-color: rgb(1, 45, 90);
    border-color: black;
    position: absolute;
    bottom: 0;  
    left: 2%;
    margin-bottom: 2%;

}

.col-md-4 { 
    background-color: rgb(1, 45, 90);
}

.card-footer {
    border: none;
}
