body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    margin-top: 5%;
    margin-bottom: 4%;
}

img {
    margin-top: 2%;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

.jumbotron {
    margin-top: 85px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/packagescover.jpg?alt=media&token=ad4953db-20de-473f-90e6-aca68de96009);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;   
}