body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    margin-top: 4%;
}

#panel2 {
    padding: 40px 0 100px 0;
    height: auto ;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

.jumbotron {
    margin-top: 85px;
    /*To change about cover, copy the download url from Firebase hosting and replace the url in the parentheses. */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/parentcover.jpg?alt=media&token=fbcd65c6-0e9f-4e17-b76e-4d91bbfd08c2); filter: grayscale(80%);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;
}

#parentresourcesimg {
    margin-top: 1.5%;
}