body {
    background-color: rgba(10, 10, 80, 0.068);
}

#panel1 {
    margin-top: 4%;
}

#panel2 {
    padding: 40px 0 100px 0;
    height: auto ;
}

.point {
    background-color: lightgrey;
    margin: 10px;
    border-radius: .3rem;
    padding: 15px;
}

h5 {
    font-weight: bold;
}

.jumbotron {
    margin-top: 85px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/elph-fb6dd.appspot.com/o/studentcover.jpg?alt=media&token=55c3c29d-2376-45f5-894f-75f84e2bb9a9); filter: grayscale(80%);
    background-position: center;
    background-size: 100%;
}

.header {
    color: white;
}

#studentresourcesimg {
    margin-top: 1.5%;
}