/*general*/
body {
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0 0 0 0;
}

.navbar-brand {
    margin-left: 1%;
    height: 65px;
}

a.navbar-brand {
    margin-top: -5px;
}

a.nav-link {
    font-size: 18px;
    font-weight: 600;
}

#navbarSupportedContent {
    padding-left: 2%; 
}

.bg-dark {
    background-color: rgb(2, 33, 65)!important;
}

.fas fa-search {
    color: #4e5761;
}

.header {
    margin-left: 5%;
}

.fas fa-file-pdf {
    color: red;
}

#footer {
    right: 0;
    bottom: 0;
    position: relative;
    background-color: white;
    border-top: 3.5px solid rgb(2, 33, 65);
}

#panel5 {
    padding: 100px 40px 100px 40px;
    background-color:  rgba(70, 71, 81, 1);
}

.dropdown-menu a:hover{
    background-color: lightgrey;
    
}

.footerimg {
    height: 80px;
}

.searchbox {
    width: 300px;
}

.gsc-search-button {
    height: 32px;
}

.cse .gsc-control-cse,
        .gsc-control-cse {
                padding: 0px !important;
                background-color:rgb(2, 33, 65)!important;
                border: none !important;
        }

.gsc-search-button-v2 {
    background-color:#3D85C6 !important;
}
